body {
	font-family: 'PT Sans', sans-serif;

	width: 2000px;
	margin: 0 auto;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

header {

	.header__logo {
		float: left;
		padding: 15px 36px 20px 399px;
		background: #1a54e7;

		span {
			font-size: 24px;
			line-height: 36px;
			color: white;
			font-weight: normal;
		}
	}

	.header__search {
		float: left;

		input[type="search"] {
			width: 60px;
			height: 70px;
			cursor: pointer;
			border: none;
			background: #f6f6f6 url(../img/icon-search.png) no-repeat center;
		}

		input[type="search"]:focus{
			font-size: 18px;
			font-weight: 400;
			line-height: 36px;

			width: 125px;
			transition-duration: 0.5s;
			transition-property: width;
			color: #b2b2b2;
			background: #f6f6f6;
		}
	}

	.header__navigation-main {
		float: left;

		ul {
			padding-left: 25px;

			li {
				display: inline-block;
				padding-right: 30px;
				
				a {
					font-size: 18px;
					font-weight: 400;
					line-height: 36px;
					color: #b2b2b2;
					text-decoration: none;
				}

				a:hover {
					color: darken(#b2b2b2, 20%);
				}

				a:active {
					color: darken(#b2b2b2, 40%);
				}
			}
		}
	}

	.header__navigation-theme {
		float: right;
		margin-right: 411px;

		ul {
			margin-bottom: 0;
			padding-left: 0;

			li {
				display: inline-block;
				margin-bottom: 0;
				padding-left: 29px;

				a {
					font-size: 18px;
					font-weight: 400;
					line-height: 36px;

					padding-bottom: 22px;
					text-decoration: none;
					color: #1a54e7;
				}

				.point {
					display: inline-block;

					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: #1a54e7;
				}

				a:hover {
					color: darken(#1a54e7, 20%);
					border-bottom: 3px solid #1a54e7;
				}

				a:active {
					color: darken(#1a54e7, 40%);
					border-bottom: 3px solid #1a54e7;
				}
			}
		}
	}

	.slider {
		width: 2000px;
		height: 816px;
		background: url(../img/slide.jpg) no-repeat;
		clear: both;

		input[type="radio"] {
			display: none;
		}

		.slider-controls {
			position: relative;

			label {
				position: absolute;
				display: inline-block;
				top: 380px;
				width: 58px;
				height: 58px;
				background-color: #ffffff;
				cursor: pointer;
			}

			label:hover {
				background-color: darken(#ffffff, 20%);
			}

			label:active {
				background-color: darken(#ffffff, 40%);
			}

			label[for *= "btn-prev"]:before,
			label[for *= "btn-prev"]:after {
				content: "";
				border: 1px solid ##030303;
				width: 0;
				height: 18px;

				position: absolute;
				left: 28px; 
			}

			label[for *= "btn-prev"]:before {				
				top: 10px;

				-moz-transform: rotate(44deg); /* Для Firefox */
		    -ms-transform: rotate(44deg); /* Для IE */
		    -webkit-transform: rotate(44deg); /* Для Safari, Chrome, iOS */
		    -o-transform: rotate(44deg); /* Для Opera */
		    transform: rotate(44deg); 
			}

			label[for *= "btn-prev"]:after {
				top: 23px;
				
				-moz-transform: rotate(-44deg); /* Для Firefox */
		    -ms-transform: rotate(-44deg); /* Для IE */
		    -webkit-transform: rotate(-44deg); /* Для Safari, Chrome, iOS */
		    -o-transform: rotate(-44deg); /* Для Opera */
		    transform: rotate(-44deg); 
			}

			label[for *= "btn-next"]:before,
			label[for *= "btn-next"]:after {
				content: "";
				border: 1px solid ##030303;
				width: 0;
				height: 16px;

				position: absolute;
				left: 31px; 
			}

			label[for *= "btn-next"]:before {				
				top: 12px;

				-moz-transform: rotate(-41deg); /* Для Firefox */
		    -ms-transform: rotate(-41deg); /* Для IE */
		    -webkit-transform: rotate(-41deg); /* Для Safari, Chrome, iOS */
		    -o-transform: rotate(-41deg); /* Для Opera */
		    transform: rotate(-41deg); 
			}

			label[for *= "btn-next"]:after {
				top: 25px;
				
				-moz-transform: rotate(41deg); /* Для Firefox */
		    -ms-transform: rotate(41deg); /* Для IE */
		    -webkit-transform: rotate(41deg); /* Для Safari, Chrome, iOS */
		    -o-transform: rotate(41deg); /* Для Opera */
		    transform: rotate(41deg); 
			}

			label[for *= "btn-prev"] {
				left: 0px;
			}

			label[for *= "btn-next"] {
				right: 0px;
			}
		}

		.slides {

			.slide {
				padding-bottom: 42px;

				img {
					border-radius: 50%;
					margin-top: 217px;
					margin-left: 933px;
				}

				blockquote {
					font-family: "PT Serif", serif;
					color: #ffffff;
					font-size: 48px;
					font-weight: 400;
					line-height: 60px;
					text-align: center;
					margin-top: 23px;
					letter-spacing: 0.1px;
				}

				button {
					margin-left: 401px;
					margin-top: 189px;
					padding: 2px 15px;
					background-color: #1a54e7;
					color: #ffffff;
					font-size: 18px;
					font-weight: 700;
					line-height: 36px;
					border: none;
					cursor: pointer;
				}

				button:hover{
					background-color: darken(#1a54e7, 20%);
				}

				button:active{
					background-color: darken(#1a54e7, 40%);
				}

				span {
					font-size: 14px;
					font-weight: 400;
					line-height: 36px;
					color: #b0b0b0;
					margin-left: 903px;
				}

				a {
					font-size: 14px;
					font-weight: 400;
					line-height: 36px;
					color: #1a54e7;
					text-decoration: underline;
					margin-left: 12px;
				}

				a:hover {
					color: darken(#1a54e7, 10%);
				}

				a:active {
					color: darken(#1a54e7, 20%);
				}
			}
		}
	}
}

main {

	.main__content-grey {
		background: #f6f6f6;

		.content-item:first-of-type {
			float: left;

			.span__theme {
				background-color: #d90445;
			}
		}

		.content-item:last-of-type {
			float: right;

			.span__theme {
				background-color: #000000;
			}
		}

		.content-item {
			width: 578px;

			.item-img {
				width: 578px;
				height: 260px;

				.span__theme {
					display: inline-block;
					padding: 2px 18px;
					color: #ffffff;
					font-size: 18px;
					font-weight: 700;
					line-height: 36px;
					margin-top: 200px;
				}
			}
		}

		p {
			margin-top: 15px;
			margin-bottom: 3px;
			font-family: "PT Serif", serif;
			color: #000000;
			font-size: 24px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 0.2px;
		}

		.span__date {
			font-size: 14px;
			font-weight: 400;
			line-height: 36px;
			color: #b0b0b0;
		}

		a {
			font-size: 14px;
			font-weight: 400;
			line-height: 36px;
			color: #1a54e7;
			text-decoration: underline;
			margin-left: 13px;
		}

		a:hover {
			color: darken(#1a54e7, 20%);
		}

		a:active {
			color: darken(#1a54e7, 40%);
		}

	}

	.main__content-top {
		padding-top: 32px;

		.content-item:first-of-type {

			.item-img {
				background: url(../img/item-1.jpg) no-repeat;
			}
		}

		.content-item:last-of-type {

			.item-img {
				background: url(../img/item-2.jpg) no-repeat;
			}
		}

		.content-item {
			padding-bottom: 44px;
		}
	}

	.main__content-middle {
		margin-top: 48px;
		margin-bottom: 84px;

		.content-item-big {
			background: url(../img/item-3.jpg) no-repeat;
			color: #ffffff;
			font-family: "PT Serif", serif;
			font-weight: 400;
			line-height: 30px;
			width: 1200px;
			padding-bottom: 26px;

			h2 {
				font-size: 48px;
				text-align: center;
				padding-top: 214px;
				margin-bottom: 0;
			}

			p {
				font-size: 18px;
				text-align: center;
				margin-top: 11px;
			}

			.span__theme {
				display: inline-block;
				margin-top: 1px;
				padding: 2px 15px;
				color: #ffffff;
				font-size: 18px;
				font-weight: 700;
				line-height: 36px;
				background-color: #d90445;
			}

			.span__date {
				font-size: 14px;
				font-weight: 400;
				line-height: 36px;
				color: #b0b0b0;
				margin-left: 886px;
			}

			a {
				font-size: 14px;
				font-weight: 400;
				line-height: 36px;
				color: #1a54e7;
				text-decoration: underline;
				margin-left: -1px;
			}

			a:hover {
				color: darken(#1a54e7, 10%);
			}

			a:active {
				color: darken(#1a54e7, 20%);
			}
		}

		.content-item {
			width: 381px;
			float: left;
			margin-top: 53px;
			margin-right: 28px;

			.item-img {
				.span__theme {
					display: inline-block;
					margin-top: 191px;
					padding: 2px 18px;
					color: #ffffff;
					font-size: 18px;
					font-weight: 700;
					line-height: 36px;
					background-color: #d90445;
					margin-bottom: 21px;
				}
			}
			
			p {
				color: #000000;
				font-family: "PT Serif", serif;
				font-size: 18px;
				font-weight: 400;
				line-height: 30px;
				margin-top: 14px;
				margin-bottom: 5px;
			}

			.span__date {
				font-size: 14px;
				font-weight: 400;
				line-height: 36px;
				color: #b0b0b0;
			}

			a {
				font-size: 14px;
				font-weight: 400;
				line-height: 36px;
				color: #1a54e7;
				text-decoration: underline;
				margin-left: 11px;
			}

			a:hover {
				color: darken(#1a54e7, 20%);
			}

			a:active {
				color: darken(#1a54e7, 40%);
			}
		}

		.content-item:nth-of-type(2) {

			.item-img {
				background: url(../img/item-4.jpg) no-repeat;

				.span__theme{
					background-color: #58b600;
				}
			}
		}

		.content-item:nth-of-type(3) {

			.item-img {
				background: url(../img/item-5.jpg) no-repeat;

				.span__theme{
					background-color: #1a54e7;
				}
			}
		}

		.content-item:nth-of-type(4) {
			margin-right: 0px;

			.item-img {
				background: url(../img/item-6.jpg) no-repeat;

				.span__theme{
					background-color: #000000;
				}
			}
		}

		.content-item:nth-of-type(5) {
			margin-top: 57px;

			.item-img {
				background: url(../img/item-7.jpg) no-repeat;
			}
		}

		.content-item:nth-of-type(6) {
			margin-top: 57px;

			.item-img {
				background: url(../img/item-8.jpg) no-repeat;
			}
		}

		.content-item:nth-of-type(7) {
			margin-top: 57px;
			margin-right: 0px;

			.item-img {
				background: url(../img/item-9.jpg) no-repeat;

				.span__theme{
					background-color: #8200b2;
				}
			}
		}
	}

	.main__content-bottom {
		padding-top: 32px;
		padding-bottom: 3px;

		.content-item:first-of-type {

			.item-img {
				background: url(../img/item-1.jpg) no-repeat;
			}
		}

		.content-item:last-of-type {
			.item-img {
				background: url(../img/item-2.jpg) no-repeat;
			}
		}

		.content-item {
			padding-bottom: 58px;
			padding-top: 24px;
		}
	}

	.main__feedback {
		background: url(../img/feedback-bg.jpg);
		text-align: center;
		padding-bottom: 138px;

		h2 {
			width: 460px;
			padding-top: 90px;
			font-family: "PT Serif", serif;
			font-weight: 400;
			color: #ffffff;
			font-size: 48px;
			line-height: 60px;
			margin: 0 auto;
			letter-spacing: 0px;
		}

		p {
			margin-top: -2px;
			font-family: "PT Serif", serif;
			font-weight: 400;
			color: #8baeff;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: 0.1px;
		}

		form {
			position: relative;
			margin-top: 42px;
			font-family: "PT Sans";
			font-size: 18px;
			font-weight: 700;
			line-height: 36px;
			position: relative;
		}

		label {
			position: absolute;
			top: 0px;
			left: 668px;
			border-radius: 25px;
			background-color: white;
			border: none;
			color: #1a54e7;
			padding: 9px 37px;
			cursor: pointer;
		}

		label:hover,
		label:active {
			background-color: #1a54e7;
			color: white;
			border: 1px solid white; 
		}

		input[type="email"] {
			width: 242px;
			height: 50px;
			padding-left: 15px;
			padding-right: 144px;
			border-radius: 25px;
			background-color: #2c6cff;
			border: none;

			font-family: "PT Sans";
			font-size: 18px;
			font-weight: 700;
			line-height: 36px;
			color: white;
		}
	}	
}

footer {
	background-color: #ffffff;
	padding-bottom: 205px;

	p {
		font-weight: 300;
		color: #a7acbc;
		font-family: "Arial", serif;
		font-size: 18px;
		line-height: 36px;
		text-align: center;
		margin-top: 71px;
		letter-spacing: 0.1px;

		a {
			font-weight: 700;
			text-decoration: none;
			color: #a7acbc;
		}

		a:hover {
			color: darken(#a7acbc, 20%);
		}

		a:active {
			color: darken(#a7acbc, 40%);
		}
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}