/* ==========================================================================
   MODAL CALL
   ===========================================================================*/
.modal-call {
  right: 0;
  bottom: 0;
  display: flex;
  transition: all 0.3s ease-in;
  z-index: -1;
  opacity: 0;
  &--show {
    z-index: z(modal);
    opacity: 1;
    transition: all 0.3s ease-in;
    overflow-y: scroll;
  }
  .modal-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 51px rgba(0, 0, 0, 0.08);
    background-color: $color-white;
    z-index: 4;
  }

  &__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 25px;
    height: 25px;
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%3E%3Cimage%20width%3D%2235%22%20height%3D%2235%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAABFElEQVRYR9XYURKCIBDG8X%2BnrI7QdISeO0LTEarLdYaGBxs1YL8FEfPJGZH9uawI7oA3cAHu9DtOwHUHhJMbcO4E%2BsYPmHD0Ak3iDpgeoJ8EjDFrgqIjMcesAUqWRAzTEpStzRSmBch8SXKYJUEmJASzMEuAJIiKqQHJEA%2BmBOSCeDEekBtSglFARZBSTA5UDKnBxEBVkFrMGPQC9rXLEGWesZZcD%2BAAPIGj1Th3vRYzDE33zMxrpFvNpAJXgUqGyQpoXU%2BWjRejBlLbTWAejDeAt720hFA%2BAanUu0BKZlwdRlTy%2FRZG7siY7KR%2B%2FmINLD1JwdTv3h20ggx2ed%2FUGpIFbXKvvVZG5mU2ibu5%2FzOb%2BXP1AX2uhNIMxOHIAAAAAElFTkSuQmCC%22%2F%3E%3C%2Fsvg%3E');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: $color-white;
    @include font-size(0px);
    cursor: pointer;
    z-index: 2;
    &:hover {
      opacity: 0.7;
    }
  }
  &__title {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 0px;
    color: $color-black;
    font-family: $font-family-title;
    font-weight: $font-weight-main;
    letter-spacing: 0.09px;
    @include font-size(24px);
    line-height: 27px;
    @include mq('tablet') {
      margin-top: 28px;
      margin-bottom: 51px;
    }
  }
  .modal-call__captcha {
    width: 80.6%;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    @include mq('tablet') {
      width: 90.6%;
      margin-top: 17px
    }
  }
  .validate-message {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $color-main-159;
    opacity: 0;
    z-index: z(back);
    text-align: center;
    transition: all 0.5s ease-in;
    p {
      margin: 0;
      color: $color-white;
      font-family: $font-family-yeseone;
      font-size: 24px;
      font-weight: $font-weight-main;
      letter-spacing: 0.12px;
    }
  }
  .validate .validate-message {
    opacity: 1;
    z-index: z(button);
  }
}

.modal-call-form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 30px 50px 30px;
  @include mq('tablet') {
    padding: 45px 100px 50px 100px;
  }
  input,
  textarea {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 7px;
    color: #a1a1a1;
    font-family: $font-family-ptsans;
    @include font-size(16px);
    font-weight: $font-weight-main;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #989898;
    outline: none;
    @include placeholderOpacity(0);
  }
  textarea {
    height: 33px;
  }
  button {
    width: 100%;
    margin-top: 11px;
    outline: none;
    @include mq('tablet') {
      margin-top: 21px;
    }
  }
}
.modal-call-group {
  position: relative;
  margin-bottom: 14px;
  text-align: left;
  input.error {
    color: #ff0000;
  }
  label.error {
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 100%;
    color: #ff0000;
    font-family: $font-family-ptsans;
    @include font-size($font-size-main);
    font-weight: $font-weight-main;
    text-align: left;
    @include mq('tablet') {
      top: 53px;
    }
  }
}

.modal-call-group--phone,
.modal-call-group--time {
   .modal-call-group__label {
      display: flex;
      width: 100%;
      border-radius: 0;
      border-bottom: 1px solid #989898;
      color: #757575;
      font-family: $font-family-ptsans;
      font-size: 16px;
      font-weight: $font-weight-main;
   }

  input {
    margin-top: 0 !important;
    border: none;
  }
}

.modal-call-group__label-title {
  padding-left: 3px;
  color: #5b5b5b;
  font-family: $font-family-ptsans;
  font-size: 16px;
  font-weight: $font-weight-title;
}

.modal-call-group--time {
  input {
    width: 130px;
    text-align: right;
  }
}

.modal-call-group--time {
  margin-top: 30px;
  label {
    justify-content: space-between;
    padding-bottom: 6px;
  }
  input {
    padding-bottom: 0;
  }
}

.modal-call__text {
  display: none;
  color: #797979;
  font-family: $font-family-ptsans;
  font-size: 12px;
  font-weight: $font-weight-main;
  line-height: 14px;
  text-decoration: underline;
  @include mq('tablet') {
    display: block;
  }
}

.modal-call-group--phone {
  display: flex;
  align-items: flex-end;
  height: 52px;
  @include mq('laptop') {
    height: 50px;
  }
  label {
    padding-bottom: 6px;
  }
  input {
    margin-left: 25px;
    padding-bottom: 0;
  }
}

.modal-call-group--address,
.modal-call-group--message {
  @include mq('tablet') {
    margin-top: 31px;
    margin-bottom: 31px;
  }
}

.modal-call-group--address {
  margin-bottom: 13px;
}

#modal-address-error {
  top: 74px;
  @include mq('tablet') {
    top: 77px;
  }
  @include mq('laptop') {
    top: 75px;
  }
}
/* end modal call */