/* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/

/* LINKS */
a {
	color: #333;
	text-decoration: none;
	font-weight: 400;
	@include font-size(14px);
	&:hover {
		color: $secondary-color;
		text-decoration: underline;
	}
}

/* TITLES */
h1 {
	color: #303030;
	@include font-size(30px);
	font-weight: 100;
	text-transform: uppercase;
	margin-left: 100px;
	margin-bottom: 34px;
	margin-top: 27px;
	@media screen and (max-width: 1199px) {
		margin-left: 0;
		text-align: center;
	}
	@media screen and (max-width: 979px) {
		margin-top: 0;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 767px) {
		margin-top: 10px;
    margin-bottom: 17px;
	}

}
h2 {
	@include font-size (30px);
	font-weight:  100;
	color: $primary-color;
}
.title {
	margin-top: 40px;
	margin-bottom: 28px;
	@include font-size(30px);
	color: $primary-color;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	@media screen and (max-width: 767px) {
		@include font-size(24px);
	}
}
.subtitle {
	@include font-size(14px);
	font-weight: 100;
	text-align: center;
}

p {
	color: #333;
	@include font-size(14px);
	font-weight: 300;
	line-height: 1;
}
/* end typography */