.step-5-copy {
  @media screen and (min-width: 768px) {
    .step-5-order:before {
      top: 159px;
    }
  }

  @media screen and (min-width: 980px) {
    .step-5-order:before {
      top: -128px;
    }

    .step-5__btn {
      margin-top: 154px;
    }
  }
  @media screen and (min-width: 1280px) {
    .step-5-order:before {
      top: 217px;
    }

    .step-5__btn {
      margin-top: 153px;
    }
  }
}